API_BASE_URL=https://script.google.com/macros/s/AKfycbxnHuB2u4-pDD23JDdFDpHB0ZIzGxLWm15Xgc7_-qkyOTctNpGlYDMIcQyq4KB7QC6X8w/exec
BOOKING_SITE_URL=https://booking.studio-mean.com
SELECT_SITE_URL=https://select.studio-mean.com
SITE_MODE=production
